body {
  background: rgba(0,0,0,0.29);
  color: #fff;
  background-image: url("https://www.levelpalace.com/files/47c410fb547c084985bf1cc5c53f775f.jpg") !important;
}

.navigation, .modal, .dropdown-content, .card, .tabs, .user-dropdown li.user-section:hover, .card .card-reveal {
  background-color: rgba(0,0,0,0.40);
}

.navigation li:hover {
  background-color: rgba(0,0,0,0.1);
}

.navigation li.active {
  background-color: rgba(0,0,0,0.29);
}

ul#mobile-navigation {
  background-color: rgba(0,0,0,0.40);
}

.border-bottom-1 {
  border-bottom: 1px solid #1f1f1f !important;
}

.heading {
  border-bottom: 2px solid rgba(0,0,0,0.40);
}

.hover-effect:hover {
  background-color: rgba(0,0,0,0.40)!important;
}

.user-dropdown li.user-section:hover {
  background: #000;
}

.collection {
  border: 1px solid rgba(0,0,0,0.40);
  background-color: rgba(0,0,0,0.40);
  color: #fff;
}

.collection .collection-item {
  background: rgba(0,0,0,0.40);
  border-color: rgba(0,0,0,0.40);
}

.collapsible {
  border-color: #555;
}

.collapsible-header {
  background: rgba(0,0,0,0.40);
  color: #fff;
  border-color: #555;
}

.select-wrapper span.caret, .navbar-fixed nav a {
  color: #fff;
}

nav .input-field label.active i {
  color: #fff !important;
}

.input-field input[type="search"]:focus {
  background: #333;
  color: #fff;
}

.navbar-fixed nav a, nav .dropdown-content li:not(#view-all-notifications) a {
  color: #fff;
}

.hover-effect {
  transition: all 0.5s;
}

.hover-effect:hover {
  background-color: #666 !important;
}

.toast {
  background-color: #222f3e !important;
  color: #bbb !important;
  font-weight: 600;
}

.section .card, p.text, .notification-date, .message-date, .dropdown-title, .user-username, .optgroup span, .navigation .dropdown-content.user-dropdown li>a, .card .card-reveal .card-title {
  color: #fff !important;
}

footer.grey.page-footer {
  background-color: rgba(0,0,0,0.40) !important;
}

footer .footer-copyright {
  background-color: #222 !important;
}

.level-code .level-code-textarea:hover {
  background-color: #555;
}

.collection a.collection-item:hover {
  background-color: #555 !important;
}

table.highlight tbody tr:hover {
  background-color: rgba(0,0,0,0.40);
}

p.subtitle {
  color: #999 !important;
}

ul.dropdown-content li:hover {
  background-color: rgba(0,0,0,0.40);
}

.dropdown-content li.active, .dropdown-content li.selected, .dropdown-content li.active.selected {
  background-color: rgba(0,0,0,0.40);
}

.divider {
  background-color: rgba(0,0,0,0.40);
}

.comment-info {
  border-top: 1px solid #666;
}

.comment-info {
  border-top: 1px solid rgba(0,0,0,0.40);
}

.user-email, .user-credits, .user-rank, .user-class {
  color: #aaa;
}

.card-blocks .card .card-content a.btn {
  color: rgba(0,0,0,0.40) !important;
}

.slider .indicators .indicator-item, .progress {
  background-color: #666;
}

.message-from-sender {
  background-color: #555;
}

.material-tooltip .backdrop {
  background-color: #aaa;
}

.material-tooltip {
  color: rgba(0,0,0,0.40);
  font-weight: bold;
}

.menu-bar {
  background-color: rgba(0,0,0,0.40);
  border-right: 2px solid rgba(0,0,0,0.40);
}

.menu-bar-list li.active .menu-bar-icon {
  background-color: rgba(0,0,0,0.40);
}

.separator {
  background-color: rgba(0,0,0,0.40);
}

.leaderboard-overview-card .individual-scores-container {
  border-left: 1px solid rgba(0,0,0,0.40);
}

.xp-score-container .percentile {
  background-color: #999;
}

.individual-scores-container .percentile {
  border: 6px solid #999;
}

.xp-score-container .percentile p {
  color: rgba(0,0,0,0.40);
}

.toast a {
  color: rgba(0,0,0,0.40) !important;
}

::-webkit-scrollbar, *::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track, *::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.40);
}

::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.40);
}