
/*
     FILE ARCHIVED ON 13:36:27 Dec 05, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:55:22 Feb 04, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 623.22 (3)
  exclusion.robots: 0.297
  PetaboxLoader3.resolve: 544.7 (4)
  captures_list: 657.228
  PetaboxLoader3.datanode: 532.266 (5)
  RedisCDXSource: 8.838
  CDXLines.iter: 19.317 (3)
  esindex: 0.023
  exclusion.robots.policy: 0.276
  load_resource: 497.845
*/